:root {
    --ff: 'Nunito', sans-serif;
    --fs: 16px;
    --fs-1: 1.3rem;
    --fs-2: 1.1rem;
    --fs-3: .9rem;
    --fw-1: 400;
    --fw-2: 600;
    --fw-3: 700;
    --fw-4: 800;
    --primary-color:  hsl(0, 0%, 98%);
    --secondary-color: hsl(0, 0%, 100%); 
    --input-color:  hsl(0, 2%, 57%);   
    --header-color: hsl(200, 15%, 8%);   
    --hover-color:  rgb(163, 155, 155);   
   /*--secondary-color: hsl(207, 26%, 17%);   
    --primary-color: hsl(209, 23%, 22%);  
    --input-color:  hsl(0, 0%, 90%);
    --header-color: white;
    --hover-color:  hsl(0, 2%, 75%);*/
    --br: 5px;
}
body {
    font-family: var(--ff);
    background-color: var(--primary-color);
    font-size: var(--fs);
    margin: 0;
}
.darkMode {
    --primary-color: hsl(207, 26%, 17%); 
    --secondary-color: hsl(209, 23%, 22%);
    --input-color:  hsl(0, 0%, 90%);
    --header-color: white;
    --hover-color:  rgb(163, 155, 155);     
}

.container {
    font-family: var(--ff);
    margin: 0;
    width: 100%;
}
.header-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color: var(--secondary-color);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
}
.heading {
    font-size: var(--fs-1);
    font-weight: var(--fw-4);
    margin: 15px  0 15px 60px;
    color: var(--header-color);
}
.gitLink {
    text-decoration: none;
    color: var(--header-color);
}
.gitLink:hover {
    border-bottom: 2px solid var(--header-color);
}
.mode {
    font-family: var(--ff);
    font-size: var(--fs-2);
    font-weight: var(--fw-4);
    color: var(--header-color);
    margin: 15px 60px 15px 0;
    cursor: pointer;
    border: none;
    background-color: var(--secondary-color);
}
.mode i {
    padding: 0 3px 0 0;
}
.form-elements {
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto;
}
.input-wrapper {
    position: relative;
    width: 30%;
    margin: 15px  0 15px 60px;
    background-color: var(--secondary-color);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
    color: var(--header-color);
    border-radius: var(--br);
}
.input-icon {
    position: absolute;
    left: 30px;
    top: 15px; 
    color: var(--header-color);
}
input {
    font-size: var(--fs-3);
    padding: 15px 10px;
    border: none;
    margin: 0 0 0 70px;
    background-color: var(--secondary-color);
    color: var(--header-color);
    width: 75%;
}
.drop-down {
    margin: 15px 60px 15px 0;
    font-family: var(--ff);
}
.filter-heading {
    font-size: var(--fs-2);
    color: var(--header-color);
}
#mySelect {
    font-family: var(--ff);
    font-size: var(--fs-2);
    width: 150px;
    background-color: var(--secondary-color);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
    border: none;
    border-radius: var(--br);
    padding: 12px 10px 12px;
    color: var(--header-color);
}
#mySelect option {
    font-size: var(--fs-2);
    padding: 5px;
}

#card-container {
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 97%;
}
.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 40px 70px auto;
    width: 240px;
    height: 340px;
    background-color: var(--secondary-color);
    color: var(--header-color);
    border-radius: var(--br);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
    list-style-type: none;
}

.flag-image {
    width: auto;
    height: 150px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}
.country-name {
    font-size: var(--fs-2);
    font-weight: var(--fw-4);
    margin: 30px 0 20px;
    padding: 0 0 0 30px;
}

.borders {
    font-size: var(--fs-2);
    font-weight: var(--fw-2);
    margin: 30px 0 20px;
    padding: 0 0 0 30px;
}

.popu, .country-region, .country-capital, .native-name, .sub-region, .domain, .currency, .languages {
    font-size: var(--fs-3);
    font-weight: var(--fw-1);
    padding: 0 0 5px 30px;
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /*Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--primary-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    display: flex; /* Could be more or less, depending on screen size */
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    color: var(--header-color);
    /* animation-name: animatetop;
    animation-duration: 0.4s; */
  }
  
  /* @keyframes animateleft {
    from {
        top:-300px; 
        opacity:0;
    }
    to {
        top:0; 
        opacity:1;
    }
  } */

  .flag-card {
    width: 300px;
    height: 250px;
    background-color: var(--secondary-color);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .1);
  }

  .flag-img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    margin: 10px 5px 5px 10px;
  }

  .countryInfo {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .country-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .country-info1, .country-info2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  /* The Close Button */
  .close {
    color: var(--header-color);
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 120px;
    left: 1000px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/*-----------media queries-------*/

@media(max-width:1100px) {

    .card {
        margin: 0 40px 70px;
    }
    .close {
        bottom: 120px;
        left: 800px;
    }
}

@media(max-width:900px) {

    #card-container {
        align-items: center;
        justify-content: center;
        width: 98%;
    }
    .card {
        margin: 0 50px 70px;
    }
    .modal-content {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .flag-card {
        margin: 30px auto 0;
    }
    .close {
        left: 300px;
        bottom: 10px;
    }
}

@media(max-width:700px) {

    
    .heading {
        font-size: var(--fs-2);
        margin: 15px 0 15px 10px ;
    }
    
    .mode {
        font-size: var(--fs-2);
        margin: 15px 10px 15px 0;
    }
    .mode i {
        padding: 0 3px 0 0;
    }
    .form-elements {
        flex-flow: column nowrap;
        align-items: flex-start;
    }
    .input-wrapper {
        width: 50%;
        margin: 15px 0 15px 20px;
    }
    
    .drop-down {
        margin: 15px 0 15px 20px;
    }
    .btn {
        padding: 15px 30px 15px 0;
    }
    #card-container {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .card {
        margin: 0 auto 70px;
    }
    .modal-content {
        width: 80%;
    }
    .country-info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .close {
        left: 160px;
        bottom: 10px;
    }
}
